/*
 *= require_tree .
 *= require_self
*/

$background-color: #E0F0FF;
$hover-color: #fff;
$button-color: #696969;

.button {
   background-color: $background-color;
   margin-left: 2px;
   color: $button-color;
   border: none;
   padding: 8px 12px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 12px;

  &:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: $hover-color;
  color: $button-color;
  }
}

.button a:link {
    text-decoration: none;
}

.nav {
  display: inline;
  text-decoration: none;
  padding: 2px 2px;
  font-size: 16px;
  margin: 10px 2px 10px 2px;
}

.table {
  padding-top: 20px;
}

tbody tr {

  &:hover {
    background-color: $hover-color;
  }

  &:last-child {
    border-bottom: none;
  }
}

table {
  border-collapse: collapse;
  border-radius: 12px;
  background-color: $background-color;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 10px 40px 0 rgba(0,0,0,0.19);
}

